.portfolio__container {
  overflow: initial;
}
.portfolio__content {
  // padding: 0 0.8rem;
  display: flex !important;
  outline: none;
  // gap: 7rem;
}
.portfolio__img {
  width: 440px;
  height: 265px;
  border-radius: 0.5rem;
  justify-self: center;
}
.portfolio__data {
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 20px;

  a,
  div {
    width: fit-content;
    cursor: pointer;
  }
}
@media screen and (max-width: 768px) {
  .portfolio__content {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .portfolio__img {
    width: 100%;
    height: 100%;
  }
  .portfolio__data {
    width: 100%;
  }
}

@media screen and (max-width: 350px) {
}
